<div class="w-full bg-yellow-600 p-3">
    <div class="grid grid-flow-col m-auto text-white pt-6">
        <div class="sm:text-sm uppercase">
            Quality and Affordable Constructors
        </div>
        <div>
            Don't know where to find us?


        </div>
        <div>
            Address
            <ul>
                <li>
                    Anantapur door no:23/23,
                    Jonna veeraih colony
                </li>
                <li>
                    +91 9898989898
                </li>
                <li>
                    nitcon&#64;gmail.com
                </li>
            </ul>

        </div>
    </div>
</div>