<h5 class="text-center text-sm mt-6">We Are Specialists In</h5>
<h1 class="text-center mb-12 font-semibold uppercase text-4xl">What We Do</h1>
<div class="services flex justify-around align-center flex-wrap m-1">
    @for(service of services;track service){
        <div #scrollDiv class="w-1/3 m-1 box border-yellow-500 border rounded-sm cursor-pointer" *ngIf="service.title != null;else showImage">
            <img class="m-auto my-4 " [src]="service.path" alt="">
            <h4 class="uppercase text-center font-bold text-gray-700">{{service.title}}</h4>
            <p class="text-center text-gray-600 text-sm">{{service.desc}}</p>
        </div>
        <ng-template #showImage>
            <!-- <img [src]="service.path" alt=""> -->
        </ng-template>
    }
</div>