<h3 class="mt-6 text-gray-700 text-center">Work of Excellence</h3>
<h1 class="font-bold text-3xl uppercase text-gray-700 text-center  md:text-xs">Our Recent Projects</h1>
<div class="projects flex flex-wrap justify-center">
    <div class="m-8 sm:w-1/2 md:w-1/4 hover:scale-90 transition-all delay-75 cursor-pointer">
        <img src="../../assets/images/project1.jpg" alt="">

    </div>
    <div class="m-8 sm:1/2 md:w-1/4  hover:scale-90 transition-all delay-75 cursor-pointer">

        <img src="../../assets/images/project2.jpg" alt="">

    </div>

    <div class="m-8 sm:w-1/2 md:w-1/4 hover:scale-90 transition-all delay-75 cursor-pointer">
        <img src="../../assets/images/project3.jpg" alt="">
    </div>
</div>
