<header>
    <div class="justify-between bg-yellow-500 hidden md:flex">
        <div class="">
            <span class="m-1 text-white text-sm cursor-pointer">+91 9898989898</span>
            <span class="m-1 text-white text-sm  cursor-pointer">nitcon&#64;gmail.com</span>
            <span class="m-1  text-white text-sm  cursor-pointer">Mon - Fri (8 A.M to 8 P.M)</span>
        </div>
        <div>
            <span class="m-1 text-white text-sm  cursor-pointer">Facebook</span>
            <span class="m-1 text-white text-sm  cursor-pointer">Whatsap</span>
            <span class="m-1 text-white text-sm  cursor-pointer">Instagram</span>
        </div>
    </div>
    <div class="header-section flex justify-between h-14 bg-gray-500 items-center">
        <div class="logo  cursor-pointer">
            NITCON
        </div>
        <nav>
            <ul class="hidden md:flex">
                <li class="m-1 text-white   cursor-pointer">Home</li>
                <li class="m-1 text-white   cursor-pointer">About US</li>
                <li class="m-1 text-white   cursor-pointer">Services</li>
                <li class="m-1 text-white   cursor-pointer">Portfolio</li>
                <li class="m-1 text-white   cursor-pointer">Contact Us</li>
            </ul>
            <button (click)="onClickButton()" class="block md:hidden">
                <i class="pi pi-align-justify"></i>
                <ul *ngIf="openMenu" class="hidden md:flex absolute">
                    <li class="m-1 text-white   cursor-pointer">Home</li>
                    <li class="m-1 text-white   cursor-pointer">About US</li>
                    <li class="m-1 text-white   cursor-pointer">Services</li>
                    <li class="m-1 text-white   cursor-pointer">Portfolio</li>
                    <li class="m-1 text-white   cursor-pointer">Contact Us</li>
                </ul>
            </button>

        </nav>

    </div>
    <!-- <app-carousel></app-carousel> -->
</header>
<content>
    <app-carousel></app-carousel>
    <app-features></app-features>
    <app-recent-projects></app-recent-projects>
    <router-outlet></router-outlet>

</content>
<footer>
    <app-footer></app-footer>
</footer>